<h1>New Coordinator</h1>

<%= form_with model: @coordinator, url: coordinators_path, local: true do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :registry_ids, "Registries" %><br>
    <%= form.collection_check_boxes :registry_ids, Registry.all, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit "Create Coordinator" %>
  </div>
<% end %>
